{% extends 'base.html' %}
{% load static %}


{% block title %}
登录
{% endblock title %}

{% block main %}
<h1>登录</h1>
<hr />
<form action="/" method="post">
	<div class="form-group">
		<div class="form-group">
			{% csrf_token %}
		</div>
		<label for="{{ form.email.id_for_label }}">电子邮件：</label>
		<div class="form-group">
			{{ form.email }}
		</div>
		<label for="{{ form.password.id_for_label }}">密码：</label>
		<div class="form-group">
			{{ form.password }}
		</div>
		<label for="{{ form.captcha.id_for_label }}">验证码：</label>
		<div class="form-group">
			{{ form.captcha }}
		</div>
		<input type="submit" class="btn btn-primary" value="登录">
		<small><a href="{% url 'user:forgot' %}">忘记密码</a></small>
		<div>还没有账号，<a href="{% url 'user:register' %}"><b><u>点击注册</u></b></a></div>
</form>
{% endblock main %}